# Used in overlay.d fallback for 2si with magisk

service %s ${MAGISKTMP}/executor %s
    disabled
    user root
    group root
    seclabel u:r:magisk:s0
    shutdown critical
    oneshot

on post-fs-data
    start %s

